@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
    cursor: url("./Assets/cursor.png"), auto;
}

small,
h3 {
    font-family: "IBM Plex Mono", serif;
    cursor: url("./Assets/cursor.png"), auto;
}

body {
    cursor: url("./Assets/cursor.png"), auto;
    background-color: #030712;
}

/* 
::-webkit-scrollbar {
    display: none;
} */

::-webkit-scrollbar-thumb {
    background-color: rgb(141, 141, 141);
    border-radius: 9999px;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 9999px;
}

html {
    scroll-behavior: smooth;
}
