@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Poppins", sans-serif;
    cursor: url("./Assets/cursor.png"), auto;
}

small, h3 {
    font-family: "IBM Plex Mono", serif;
    cursor: url("./Assets/cursor.png"), auto;
}

body {
    cursor: url("./Assets/cursor.png"), auto;
    background-color: #030712;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

#asteroid1 {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster1 3s ease-in infinite;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes aster1 {
    0% {
        top: 0;
        right: 0;
    }
    100% {
        top: 100%;
        right: 200%;
    }
}

#asteroid2 {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster2 3s 3s ease-in infinite;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes aster2 {
    0% {
        top: 0%;
        right: 60%;
    }
    100% {
        top: 100%;
        right: 200%;
    }
}

#asteroid3 {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster3 3s 7s ease-in infinite;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes aster3 {
    0% {
        top: 0%;
        right: 75%;
    }
    100% {
        top: 100%;
        right: 200%;
    }
}

#asteroid4 {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster4a 3s 1s ease-in infinite;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes aster4a {
    0% {
        top: 0%;
        right: 25%;
    }
    100% {
        top: 100%;
        right: 200%;
    }
}

#asteroid5 {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster5a 3s 8s ease-in infinite;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes aster5a {
    0% {
        top: 0%;
        right: 15%;
    }
    100% {
        top: 100%;
        right: 200%;
    }
}

#squareDDD {
    animation: aster6 20s ease infinite;
}

@keyframes aster6 {
    0% {
        top: -2%;
    }
    50% {
        top: -1%;
    }
    100% {
        top: -2%;
    }
}

/* Asteroid Hero */

#asteroid1a {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster1a 3s ease-in infinite;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes aster1a {
    0% {
        top: -17%;
        right: 0;
    }
    100% {
        top: 200%;
        right: 120%;
    }
}

#asteroid1b {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster1b 3s ease-in infinite;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes aster1b {
    0% {
        top: -17%;
        right: 0;
    }
    100% {
        top: 200%;
        right: 200%;
    }
}

#asteroid2a {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(-35deg);
    animation: aster2a 3s ease-in infinite;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes aster2a {
    0% {
        top: -17%;
        right: 45%;
    }
    100% {
        top: 200%;
        right: 150%;
    }
}

#asteroid2b {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(-35deg);
    animation: aster2b 3s ease-in infinite;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes aster2b {
    0% {
        top: -17%;
        right: 45%;
    }
    100% {
        top: 200%;
        right: 150%;
    }
}

#asteroid3a {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster3a 3s 5s ease-in infinite;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes aster3a {
    0% {
        top: -17%;
        right: 75%;
    }
    100% {
        top: 200%;
        right: 200%;
    }
}

#asteroid3b {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster3b 3s 5s ease-in infinite;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes aster3b {
    0% {
        top: -17%;
        right: 75%;
    }
    100% {
        top: 200%;
        right: 200%;
    }
}

#asteroid4a {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster4a 3s 5s ease-in infinite;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes aster4a {
    0% {
        top: -17%;
        right: 25%;
    }
    100% {
        top: 200%;
        right: 200%;
    }
}

#asteroid4b {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster4b 3s 5s ease-in infinite;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes aster4b {
    0% {
        top: -17%;
        right: 25%;
    }
    100% {
        top: 200%;
        right: 200%;
    }
}

#asteroid5a {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster5a 4s ease-in infinite;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes aster5a {
    0% {
        top: -17%;
        right: -10%;
    }
    100% {
        top: 200%;
        right: 100%;
    }
}

#asteroid5b {
    position: absolute;
    width: 6px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(-30deg);
    animation: aster5b 4s ease-in infinite;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

@keyframes aster5b {
    0% {
        top: -17%;
        right: -10%;
    }
    100% {
        top: 200%;
        right: 100%;
    }
}

@media screen and (max-width: 650px) {
    #asteroid1 {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 0;
        right: 0;
        transform: rotate(-30deg);
        animation: aster1 3s ease-in infinite;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    @keyframes aster1 {
        0% {
            top: 0;
            right: 0;
        }
        100% {
            top: 100%;
            right: 200%;
        }
    }

    #asteroid2 {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 0;
        right: 0;
        transform: rotate(-30deg);
        animation: aster2 3s 4s ease-in infinite;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    @keyframes aster2 {
        0% {
            top: 0%;
            right: 60%;
        }
        100% {
            top: 100%;
            right: 200%;
        }
    }

    #asteroid3 {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 0;
        right: 0;
        transform: rotate(-30deg);
        animation: aster3 3s 5s ease-in infinite;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    @keyframes aster3 {
        0% {
            top: 0%;
            right: 75%;
        }
        100% {
            top: 100%;
            right: 200%;
        }
    }

    #asteroid4 {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 0;
        right: 0;
        transform: rotate(-30deg);
        animation: aster4a 3s 1s ease-in infinite;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    @keyframes aster4a {
        0% {
            top: 0%;
            right: 25%;
        }
        100% {
            top: 100%;
            right: 200%;
        }
    }

    #asteroid5 {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 0;
        right: 0;
        transform: rotate(-30deg);
        animation: aster5a 3s 8s ease-in infinite;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    @keyframes aster5a {
        0% {
            top: 0%;
            right: 15%;
        }
        100% {
            top: 100%;
            right: 200%;
        }
    }






















    #squareDDD {
        animation: aster6 20s ease infinite;
    }

    @keyframes aster6 {
        0% {
            top: -2%;
        }
        50% {
            top: -1%;
        }
        100% {
            top: -2%;
        }
    }

    /* Asteroid Hero */

    #asteroid1a {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 0;
        right: 0;
        transform: rotate(-30deg);
        animation: aster1a 3s ease-in infinite;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    @keyframes aster1a {
        0% {
            top: -17%;
            right: 0;
        }
        100% {
            top: 200%;
            right: 200%;
        }
    }

    #asteroid1b {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 0;
        right: 0;
        transform: rotate(-30deg);
        animation: aster1b 3s ease-in infinite;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    @keyframes aster1b {
        0% {
            top: -17%;
            right: 0;
        }
        100% {
            top: 200%;
            right: 200%;
        }
    }

    #asteroid2a {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 0;
        right: 0;
        transform: rotate(-35deg);
        animation: aster2a 3s ease-in infinite;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    @keyframes aster2a {
        0% {
            top: -17%;
            right: 45%;
        }
        100% {
            top: 200%;
            right: 150%;
        }
    }

    #asteroid2b {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 0;
        right: 0;
        transform: rotate(-35deg);
        animation: aster2b 3s ease-in infinite;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    @keyframes aster2b {
        0% {
            top: -17%;
            right: 45%;
        }
        100% {
            top: 200%;
            right: 150%;
        }
    }

    #asteroid3a {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 0;
        right: 0;
        transform: rotate(-30deg);
        animation: aster3a 3s 5s ease-in infinite;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    @keyframes aster3a {
        0% {
            top: -17%;
            right: 75%;
        }
        100% {
            top: 200%;
            right: 200%;
        }
    }

    #asteroid3b {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 0;
        right: 0;
        transform: rotate(-30deg);
        animation: aster3b 3s 5s ease-in infinite;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    @keyframes aster3b {
        0% {
            top: -17%;
            right: 75%;
        }
        100% {
            top: 200%;
            right: 200%;
        }
    }

    #asteroid4a {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 0;
        right: 0;
        transform: rotate(-30deg);
        animation: aster4a 3s 5s ease-in infinite;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    @keyframes aster4a {
        0% {
            top: -17%;
            right: 25%;
        }
        100% {
            top: 200%;
            right: 200%;
        }
    }

    #asteroid4b {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 0;
        right: 0;
        transform: rotate(-30deg);
        animation: aster4b 3s 5s ease-in infinite;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    @keyframes aster4b {
        0% {
            top: -17%;
            right: 25%;
        }
        100% {
            top: 200%;
            right: 200%;
        }
    }

    #asteroid5a {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 0;
        right: 0;
        transform: rotate(-30deg);
        animation: aster5a 4s ease-in infinite;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    @keyframes aster5a {
        0% {
            top: -17%;
            right: -10%;
        }
        100% {
            top: 200%;
            right: 100%;
        }
    }

    #asteroid5b {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 0;
        right: 0;
        transform: rotate(-30deg);
        animation: aster5b 4s ease-in infinite;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }

    @keyframes aster5b {
        0% {
            top: -17%;
            right: -10%;
        }
        100% {
            top: 200%;
            right: 100%;
        }
    }
}
